@font-face {
	font-family: fredoka;
	src: url(assets/fredoka.ttf);
}

html,
body {
    height: 100%;
    font-family: fredoka !important;
}

a {
    text-decoration: none;
    color: white;
}

.carousel-item {
    transition: 1s !important;
}

.carousel-item, .carousel-inner, .card {
    border-radius: 20px;
}

html, body {
    background: linear-gradient(to top, rgb(7, 24, 46) 0%, rgb(32, 48, 61) 100%);
    background-attachment: fixed;
    color: white;
}

.card {
    border: none;
    background: rgb(28, 46, 68) !important;
}